@import "../styles/variables.scss";

.users {
    width: 100%;
    height: auto;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 15px 0;
    
}

span {
    color: rgb(133, 133, 133);
}
